Covid Reporting/Supporting Files for All the pipelines/pl_ingest_pipeline_support_live/pipeline/pl_ingest_pipeline.json
{
    "name": "pl_ingest_pipeline",
    "properties": {
        "activities": [
            {
                "name": "Check If File Exists",
                "type": "Validation",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_covidpopulation_raw_sa",
                        "type": "DatasetReference"
                    },
                    "timeout": "0.00:00:30",
                    "sleep": 10,
                    "minimumSize": 1024
                }
            },
            {
                "name": "Get File Metadata",
                "type": "GetMetadata",
                "dependsOn": [
                    {
                        "activity": "Check If File Exists",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_covidpopulation_raw_sa",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "columnCount",
                        "size",
                        "exists"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "If Column count matches",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get File Metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(activity('Get File Metadata').output.columnCount,13)",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Send Email",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "method": "POST",
                                "url": "https://file_incompatible",
                                "body": "dummy"
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "Copy Population Data",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.00:10:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_covidpopulation_raw_sa",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_covidpopulation_raw",
                                    "type": "DatasetReference"
                                }
                            ]
                        },
                        {
                            "name": "Delete Source File",
                            "type": "Delete",
                            "dependsOn": [
                                {
                                    "activity": "Copy Population Data",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "ds_covidpopulation_raw_sa",
                                    "type": "DatasetReference"
                                },
                                "enableLogging": false,
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "concurrency": 1,
        "annotations": [],
        "lastPublishTime": "2024-10-25T12:03:08Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}